html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.dv-chart{
  overflow: hidden;
  /deep/ .border-box-content{
    padding: 2%;
    box-sizing: border-box;
  }
}

h4.title{
  color: #fff;
  position: absolute;
  margin: 2% 3%;
}

span.numShow {
  position: absolute;
  right: 0;
  margin: 1% 4%;
  // float: right;
  color: #fff;
}
  